
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>


                <div class="jumbotron">
                    <h1>Download our corpora </h1>
                    <br><p>Want to use our corpus to train your own machine learning algorithm? Well here it is! Our data is outputted in JSON format. Just click the button below. <br> </br>

                  <a href="/download_all" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> <span class="network-name">Download All Data  </span>  </a>

                </div>


    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
