<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Arguably</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Work+Sans"
  rel="stylesheet">
  <link
  href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
<style>
    body    {
    	    padding-top:50px;
    	    /*font-family: "Helvetica Neue", Helvetica, Arial,
	    sans-serif;*/
	    font-family: 'Work Sans', sans-serif;
	    /*font-family: 'Playfair Display', serif;*/
    }
    .well {
    	  background-color: #FFFFFF;
    }
</style>
