<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                <strong> Arguably </strong>
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
			      <li><a href="/annotate">Annotate (All Topics)</a></li>
            <li><a href="/about_us">About us</a></li>
            <li><a href="/contact_us">Contact us</a></li>
        </ul>

    </div>
</nav>
