
<form method = "post" action ="/movie/add">
  <label> Topic  </label>
  <input type="text" name = "title" placeholder="Topic" style = "height: 120px; width:800px">
  <br>

<!--
<select name = "select">
<option value = "value1"> Attacks </option>
<option value = "value2" selected> Not Related To </option>
</select>
<br>
-->





  <label> Argument </label>
  <input type="text" name = "year" placeholder = "Argument" style = "height:120px; width:800px">
    <br>
    <input type = "submit" value="Submit">

</form>




<h2> Topics  </h2>
<ul>
<% movies.forEach(function(movie){ %>
  <li> <%= movie.title %> </li>
<% }) %>
</ul>
