

<!DOCTYPE html>
<html lang="en">
<head>
    <% include /partials/head %>
</head>
<body class="container">

    <header>
        <% include /partials/header %>
    </header>

    <main>

                <div class="jumbotron">
                    <h1>This is the topic page for: <%= which_topic %></h1>
                    <p> <br /> Make the above text a variable that corresponds to topic chosen.
					Below, list the argumenttext properties of all opinion nodes whose
					topic matches the chosen one. Also include a form to add new opinions
					whose created nodes will automatically have the appropriate topic property.</p>

          <h2> List of related arguments: </h2>




                </div>



    </main>

    <footer>
        <% include /partials/footer %>
    </footer>

</body>
</html>
