

<!DOCTYPE html>
<html lang="en">
<head>
    <% include /partials/head %>
</head>
<body class="container">

    <header>
        <% include /partials/header %>
    </header>

    <main>

                <div class="jumbotron">
                    <h1>Topic: <%= which_topic %></h1>
                    <br />

          <h2> Related propositions: </h2>
          <br />
	<ul>

	<% topics.forEach(function(topic){ %>

	  <li> <%= topic.argumenttext %> </li>
	<% }) %>
	</ul>




    <br /> <br />

    <% var link = "/annotate_topic/" + which_topic.replace(/ +/g, "_") %>
    <p><a href= <%=link%> > Click here to Annotate this Topic!</a>


    </div>


    </main>

    <footer>
        <% include /partials/footer %>
    </footer>

</body>
</html>
