
body {

      font-family: Comic Sans MS;
      background-color: #C8C8C8;
      background-color: hsl(0,0%,78%);
}

h1 {

  color: white;
  background-color: DarkCyan;}

h2 {

  color: white;
  background-color: #ee3e80;}
