
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>


                <div class="jumbotron">
                    <h1>About Us </h1>
                    <p>Forged in the fires of mount doom we are locally known simply as the "Boy band"
                      (a nod to our prowess at local karoke nights). Since the 8th day of creation we
                    have been working fastidiously on creating the beautiful creation which appears before you
                  now. What is that creation? Well: <br> </br>

                Argumentation mining is the process of using artificial intelligence to automatically
                identify arguments and their structure within text. Typically within the field of
                Argumentation mining algorithms are trained to find ''units'' of argumentation
                (Lippi and Torroni 2016). These are essentially just simple statements that seek
                to convey some point and are relatively self-contained. A new approach in Argumentation
                 mining is to search directly for the relations between arguments rather than simply for
                 the arguments themselves (Toni and Carstens 2015). It is this new approach that our project
                  aims to advance. <br> </br>

                Following the completion of this project we will have developed a tool for the collection
                of data sets from which researchers will be able to retrain machine learning classifiers
                to identify the relations between arguments. Moreover, we will create tools to enable
                 elucidating and illuminating visualisations of the data sets, beginning with a textual
                  view and building upon that with a graphical view.</p>
                </div>


    </main>

</body>
</html>
