
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>


                <div class="jumbotron">
                    <h1>About Us </h1>
                    <p>Forged in the fires of mount doom we are locally known simply as the "Boy band"
                      (a nod to our prowess at local karoke nights). Since the 8th day of creation we
                    have been working fastidiously on creating the beautiful creation which appears before you
                  now. </p>
                </div>


    </main>

</body>
</html>
