<!-- views/pages/annotate.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Annotation Page</h1>
            <p>Choose the relationship between the displayed opinions.</p>




            <h2> Opinions: </h2>
            <ul>
            <% twoopinions.forEach(function(opinion){ %>
              <li> <%= opinion.argumenttext %> </li>
            <% }) %>
            </ul>






<form method = "post" action ="/opinion/addrelationship">
  <label> Select relationship </label>

<select name = "select">
<option value = "ATTACKS"> Attacks </option>
<option value = "SUPPORTS"> Supports </option>
<option value = "UNRELATED" selected> Unrelated </option>
</select>
<br>

    <input type = "submit" value="Submit">

</form>






        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>


</body>
</html>
