<!-- views/pages/annotate.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Annotation Page (All Topics)</h1>

            <% if (twoopinions.length > 2) { %> 
                <p>Choose whether opinion 1 attacks, supports or is unrelated to opinion 2.</p>




                <h2> Opinions: </h2>
                <ul style="list-style-type:none">
                <% twoopinions.forEach(function(opinion,index){ %>
                    <li> <%= (index+1) %>) <%= opinion.argumenttext %> </li>
                <% }) %>
                </ul>


                <form method = "post" action ="/opinion/addrelationship/<%= twoopinions[0].id %>/<%= twoopinions[1].id %>">
                <label> Select relationship </label>

                <select name = "select">
                <option value = "ATTACKS"> Attacks </option>
                <option value = "SUPPORTS"> Supports </option>
                <option value = "UNRELATED" selected> Unrelated </option>
                </select>
                <br>

                <input type = "submit" value="Submit">

                <a href="javascript://" id="helper" data-toggle="popover" title="Help Me!" data-content="This is the Annotate Page. Pick the annotation that you think best describes the relationship the first proposition has in reference to the second proposition."><i class="fa fa-question-circle fa-2x" aria-hidden="true"></i></a>

                </form>


            <% } else { %>
                <br> <br>
                <p>Oops, there aren't enough opinions to annotate yet! Please go back to <a href="/index">the main page</a> and start some conversations! </p>

            <% } %>

        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>


</body>
</html>
