
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>

                <div class="jumbotron">
                    <h1>Contact Us </h1>
                  <br />
                    <p>Don't try and contact us, we will contact you...
                      <br /> <br />
                    But if we don't contact you, contact us at:
                    <br />  <br /> <br />
                </p>

                <p><img src="aodhgan.jpg" alt="aodhgan" style="float:right;width:100px;height:100px;">
                <strong> Aodhgan 'St. Valentine' Gleeson </strong> <br />
                <a href="mailto:aodhgan.gleeson16@imperial.ac.uk "> <small><i>aodhgan.gleeson16@imperial.ac.uk </small></i></a></p>

<br /> <br /> <br /> <br />
                <p><img src="george.jpg" alt="george" style="float:right;width:100px;height:100px;">
                <strong>George 'Master Branch' Bunting  </strong><br />
                <a href="mailto:george.bunting16@imperial.ac.uk"> <small><i>george.bunting16@imperial.ac.uk</small></i></a></p>

<br /> <br /> <br /> <br />
                <p><img src="zak.jpg" alt="zak" style="float:right;width:100px;height:100px;">
                <strong>Zak 'Thorough lover' John  </strong><br />
                <a href="mailto:zachary.john16@imperial.ac.uk"> <small><i>zachary.john16@imperial.ac.uk</small></i></a></p>

<br /> <br /> <br /> <br />
                <p><img src="james.jpg" alt="james" style="float:right;width:100px;height:100px;">
                <strong>James 'El Salsero' Clark </strong><br />
                <a href="mailto:james.s.clark12@gmail.com"> <small><i>james.clark16@imperial.ac.uk</small></i></a></p>
<br /> <br /> <br /> <br />
                <p><img src="rob.jpg" alt="rob" style="float:right;width:100px;height:100px;">
                <strong>Rob '7 years' Jaworzyn  </strong><br />
                <a href="mailto:robert.jaworzyn16@imperial.ac.uk"> <small><i>robert.jaworzyn16@imperial.ac.uk</small></i></a></p>

<br /> <br /> <br /> <br />

                </div>


    </main>

</body>
</html>
