

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>

                <div class="jumbotron">
                    <h1>The bev team and friends! </h1>
                  <br />
                      <br /> <br />

                      <p><img src="bev_team.jpg" alt="Hard at work!" style="width:85%;height:85%;">

                        <a href="javascript://" id="helper" data-toggle="popover" title="Want to join us?" data-content="Find us in Shoreditch on Fridays..."><i class="fa fa-question-circle fa-1x" aria-hidden="true"></i></a>

                </div>


    </main>

</body>
</html>
