<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>

                <div class="jumbotron">
                    <h1> This feature is still being implemented.</h1>

                    <h3> Check back soon and this feature should be up and running! </h3>

                </div>


    </main>

</body>
</html>
