<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Arguably</h1>
            <p>Welcome to templating using EJS</p>




            <h2> Opinions (Later, make this a distinct topics list and make the names links to topic pages) </h2>
            <ul>
            <% movies.forEach(function(movie){ %>
              <li> <%= movie.title %> </li>
            <% }) %>
            </ul>






<form method = "post" action ="/opinion/add">
  <label> Initial Argument </label>
  <input type="text" name = "argumenttext" placeholder="Your Argument here" style = "height: 120px; width:400px">
  <br>

<!--  <select name = "select">
<option value = "value1"> Attacks </option>
<option value = "value2" selected> Not Related To </option>
</select>
<br>  -->
  <label> (New?) Topic</label>
  <input type="text" name = "topic" placeholder = "Your Topic here" style = "height:120px; width:400px">
    <br>
    <input type = "submit" value="Submit">

</form>




        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>


</body>
</html>
