<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Arguably</h1>
            <p>Choose a topic from the list below or start your own!</p>




            <h2> Opinions (Change to topics!) </h2>
			<p>Make this a distinct topics list and change the link implementations so that the destination topic page is populated appropriately.</p>
            <ul>
            <% movies.forEach(function(movie){ %>
				<!-- can have just  	<li> %= movie.title % </li>	 	as the list element for just the text. (must add greater than signs back outside % signs)-->
              <li> <a href="/topic"><%= movie.title %></a> </li>
            <% }) %>
            </ul>






<form method = "post" action ="/opinion/add">

  <label> (New?) Topic</label>
  <input type="text" name = "topic" placeholder = "Your Topic here" style = "height:120px; width:400px">
    <br>
	
	<label> Initial Argument </label>
  <input type="text" name = "argumenttext" placeholder="Your Argument here" style = "height: 120px; width:400px">
  <br>
  
  <input type = "submit" value="Submit">

</form>




        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>


</body>
</html>
