<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
      <div class="jumbotron">
          <h1>Arguably</h1>
          <p>Choose a topic from the list below or start your own!</p>


          <h2> List of topics </h2>
          <ul style="list-style-type: none;">
            <!-- This lists and links the topics to their dynamically created web pagtes -->
	    <div class = "pre-scrollable">
	      <div class = "well well-sm">
           
	    <% topics.forEach(function(topic){ %>
	     <% var link = "/topicspage/" + topic.topic.replace(/ +/g, "_") %>

            <li> <a href= <%=link%> ><%= topic.topic %></a> </li>
	      <% }) %>
          </ul>
	   
	   
           

	  <form method = "post" action ="/opinion/add">

	    <label> Suggest a new Topic</label>
	    <br>
	    <input type="text" name = "topic" placeholder = "Your Topic here"
		   style = "height:120px; width:400px" required>
	    <br>

	    <label> Initial Argument </label>
	    <br>
	    <input type="text" name = "argumenttext" placeholder="Your Argument here" style =
		   "height: 120px; width:400px" required>
	    <br>

	    <input type = "submit" value="Submit">

	  </form>
	<br>
	<a href="/download_all" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Download All Data</span></a>



        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>


</body>
</html>
