<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Arguably</h1>
            <p>Choose a topic from the list below or start your own!</p>


            <h2> List of topics </h2>
			<!-- <p>Make this a distinct topics list and change the link implementations so that the destination topic page is populated appropriately.</p> -->
            <ul>
            <% topics.forEach(function(topic){ %>
              <li> <a href="/topic"><%= topic.topic %></a> </li>
            <% }) %>
            </ul>






<form method = "post" action ="/opinion/add">

  <label> Suggest a new Topic</label>
  <input type="text" name = "topic" placeholder = "Your Topic here" style = "height:120px; width:400px">
    <br>

	<label> Initial Argument </label>
  <input type="text" name = "argumenttext" placeholder="Your Argument here" style = "height: 120px; width:400px">
  <br>

  <input type = "submit" value="Submit">

</form>




        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>


</body>
</html>
