<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/d6380fb0cd.js"></script>
  </head>
  <body>

    <div class="jumbotron jumbotron-fluid text-white text-center" style = "background: #000;">
            <!-- <a href="/contact_us" id="log_button" class="btn btn-success btn-lg"><i class="fa fa-sign-in" aria-hidden="true"></i> <span class="network-name">Log in/ Sign up </span>  </a> -->
            <!-- <a href="/" id="log_button" class="btn btn-primary">Let's go!</a> -->
        <div class="container-fluid">
          <br><br>
            <h1 class="display-1">Welcome to Arguably </h1>
            <p class="lead">argue whilst training machine learning algorithms...</p>
        </div>
    </div>

    <div class="container text-muted">


        <!-- cards -->

        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="card">
                  <a href="/index" style="color: #737373">
                    <img class="card-img-top img-fluid" src="debate3.jpg">
                    <div class="card-block">
                        <h3 class="card-title">Explore and contribute to ongoing topics of debate</h3>
                    </div>
                  </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card">
                  <a href="/annotate" style="color: #737373">
                    <img class="card-img-top img-fluid" src="aibrain4.png">
                    <div class="card-block">
                        <h3 class="card-title">Annotate arguments and create data</h3> <br>
                        <!-- <p class="card-text">Lorem ninja ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p> -->
                    </div>
                  </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card">
                  <a href="/graphical_view" style="color: #737373">
                    <img class="card-img-top img-fluid" src="nodes.jpg">
                    <div class="card-block">
                        <h3 class="card-title">Checkout a graphical analysis of our  data</h3>
                        <!-- <p class="card-text">Lorem ninja ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p> -->
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card">
                  <a href="/data_page" style="color: #737373">
                    <img class="card-img-top img-fluid" src="download.png">
                    <div class="card-block">
                        <h3 class="card-title">Download our corpus of data for yourself</h3> <br>
                        <!-- <p class="card-text">Lorem ninja ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p> -->
                    </div>
                  </a>
                </div>
            </div>
        </div>

        <!-- navs -->

        <h2 class="display-4 py-5 mt-5 text-center">New to Arguably? Scroll down to see what we're all about!</h2>

        <nav class="nav justify-content-center nav-pills flex-column flex-md-row">
            <a class="nav-link active" href="#ninja" data-toggle="tab">What is Arguably?</a>
            <a class="nav-link" href="#wizard" data-toggle="tab">What is argumentation mining?</a>
            <a class="nav-link" href="#captain" data-toggle="tab">How can I get involved?</a>
            <a class="nav-link" href="#avenger" data-toggle="tab">Who runs this project?</a>
        </nav>

        <div class="tab-content py-5">
            <div class="tab-pane active" id="ninja">
                <h3>What is Arguably?</h3>
                <br>
                <p>Arguably is online debate platform which simultaneously acts as a tool for the collection of data sets fromwhich researchers will be able to retrain machine learning classiers to identify the relations between arguments. </p>
                <br> <h3>Check out the video below for a tour of the site</h3>
                <br><br>

                <iframe width="560" height="315" src="https://www.youtube.com/embed/qYXC1-ZPISA" frameborder="0" allowfullscreen></iframe>

            </div>
            <div class="tab-pane fade" id="wizard">
                <h3>What is argumentation mining?</h3>
                <br>
                <p>Argumentation mining is the process of using artificial intelligence to automatically
                identify arguments and their structure within text. Typically within the field of
                Argumentation mining algorithms are trained to find ''units'' of argumentation
                (Lippi and Torroni 2016). These are essentially just simple statements that seek
                to convey some point and are relatively self-contained. A new approach in Argumentation
                 mining is to search directly for the relations between arguments rather than simply for
                 the arguments themselves (Toni and Carstens 2015). It is this new approach that our project
                  aims to advance.</p>
              <br>
              <h3>Really want to get clued in?</h3>
              <br>
              <p>If you want to get more familiar with Argumentation Mining and the cutting edge research going on, we highly recommend the following papers: </p>
                <p class="text-muted" style="margin-left: 20px"><i><small>Lippi M, Torroni P. Argumentation mining: State of the art and emerging trends. ACM Transactions on Internet Technology (TOIT). 2016 Apr 20;16(2):10.
                <br><br>
                Carstens L, Toni F. Towards relation based argumentation mining. InProceedings of the 2nd Workshop on Argumentation Mining 2015 Jun 4 (pp. 29-34).
                <br><br>
                Lippi M, Torroni P. Argument mining: A machine learning perspective. InInternational Workshop on Theorie and Applications of Formal Argumentation 2015 Jul 25 (pp. 163-176). Springer International Publishing.
                <br><br>
                Kakas KC, Toni F. Computing argumentation in logic programming. Journal of Logic and Computation. 1999 Aug 1;9(4):515-62.
              </i></small></p>
            </div>
            <div class="tab-pane fade" id="captain">
                <h3>How can I get involved?</h3>
                <br>
                <p>Getting involved is simple, sign up for an account and get arguing! Every contribution to the debate provides more data from which researchers from around the world can train their algorithms on. You can start a topic on anything you like and reply to anyone's comments on anything. Moreover, you can go to the annotate page and annotage the relationship between exisitng comments. This information is used to help the machine learning algorithms analyse the relationships between comments.</p>
            </div>
            <div class="tab-pane fade" id="avenger">
                <h3>Who runs this project?</h3>
                <br>
                <p>Arguably was developed by a group of MSc Computer Science students at Imperial College London under the superivison of Dr. Francessa Toni, an eminent researcher in argumentation mining!</p>
                <br>
                <h3>Contact us</h3>
                <br>
                <p> If you have any questions then please feel free to contact us.</p>
                <br>
                <p><img src="aodhgan.jpg" alt="aodhgan" style="float:right;width:100px;height:100px;">
                <strong> Aodhgan Gleeson </strong> <br />
		<a href="mailto:aodhgan.gleeson16@imperial.ac.uk"> <small><i>aodhgan.gleeson16@imperial.ac.uk </small></i></a><br />
		<a href="http://www.aodhgan.com "> <small><i>www.aodhgan.com </small></i></a></p>

<br /> <br /> <br /> <br />
                <p><img src="george.jpg" alt="george" style="float:right;width:100px;height:100px;">
                <strong>George Bunting  </strong><br />
                <a href="mailto:george.bunting16@imperial.ac.uk"> <small><i>george.bunting16@imperial.ac.uk</small></i></a></p>

<br /> <br /> <br /> <br />
                <p><img src="zak.jpg" alt="zak" style="float:right;width:100px;height:100px;">
                <strong>Zak John  </strong><br />
                <a href="mailto:zachary.john16@imperial.ac.uk"> <small><i>zachary.john16@imperial.ac.uk</small></i></a></p>

<br /> <br /> <br /> <br />
                <p><img src="james.jpg" alt="james" style="float:right;width:100px;height:100px;">
                <strong>James Clark </strong><br />
                <a href="mailto:james.s.clark12@gmail.com"> <small><i>james.clark16@imperial.ac.uk</small></i></a></p>
<br /> <br /> <br /> <br />
                <p><img src="rob.jpg" alt="rob" style="float:right;width:100px;height:100px;">
                <strong>Rob Jaworzyn  </strong><br />
                <a href="mailto:robert.jaworzyn16@imperial.ac.uk"> <small><i>robert.jaworzyn16@imperial.ac.uk</small></i></a></p>

<br /> <br /> <br /> <br />

            </div>
        </div>

    </div><!-- end .container -->


    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
  </body>
</html>
